body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#option1,#option2,#option3,#option4{
    cursor: pointer;
    border-radius:10px;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover{
    background-color:#4aaaa5;
}

